<%= form_for @profile, url: profile_path do |f| %>
  <div class="paragraph-input-container">
    <%= render "shared/paragraph_input", {f: f, attribute: :skills, placeholder: ""} %>
    <%= render "shared/paragraph_input", {f: f, attribute: :experience, placeholder: ""} %>
    <%= render "shared/paragraph_input", {f: f, attribute: :education, placeholder: "" } %>
    <%= render "shared/paragraph_input", {f: f, attribute: :projects, placeholder: "" } %>
  </div>
  <%= f.submit "Submit" %>
<% end %>
