<h1> Enter the job posting information </h1>

<%= form_with url: jobs_path do |f| %>
  <%= f.label :role, "Job title" %>
  <%= f.text_field :role %>
  <%= f.label :company, "Company name" %>
  <%= f.text_field :company %>
  <%= f.label :description, "Job description" %>
  <%= f.text_area :description, rows: 20, style: 'width:100%;' %>

  <%= f.submit "Generate" %>
<% end %>